*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: #000;
  
}


.nav{
  
    width: 100%;
    height: 7vh;
    background-color: #0c111b00;
   color: white;    
   display: flex;
   
   justify-content: center;
   align-items: center;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 100;
   position: fixed;
   z-index: 2;


  
 
}
.list-nav{

    
    display: flex;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
   
}
.logo{
    position: absolute;
    left: 40px;
    display: flex;
  
    width: 300px;
    padding: 0%;
   
}
.logo a{

    text-decoration: dashed;
    
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
}
.logo h1{
   
    margin: 0%;
    font-size: 15px;
    
}
.logo img{
    
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.list-nav li{

    padding: 10px;
    list-style: none;
    margin: 5px;
 

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    transition: 1s all;
 
  
}

.list-nav li a::after{

    content: "";
    width: 100%;
    border: 1px rgb(165, 20, 93) solid;
 
    position: absolute;
    top:   22px;
    transition: 1s all;
    transform: rotateY(90deg);
}
.list-nav li a{
   
    position: relative;
   
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
}

.list-nav li a:hover::after{
   
    transform: rotateY(0deg);
}


@media(max-width:1226px){
    .list-nav{
        display: none;
    }
}

.contactos{
  
    bottom: 20%;
    position: fixed;
    height: 450px;
    width:  40px;
    
    z-index: 2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  border-radius: 0px 50px 50px 0px;
}
.contactos a{
  
   padding: 0%;
   margin: 0%;
}
.facebook, .insta, .whattsapp, .link{
    transition: 1s all;
    width: 35px;
    height: 35px;
    padding: 0%;
    margin: 0%;
}
.facebook:hover, .insta:hover, .whattsapp:hover, .link:hover{
    transform: scale(1.1);
}