.preguntas_frecuentes{
    width: 100%;
    min-height: auto;
    margin-top: 50px;
    padding: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contenedor_preguntas{


    min-width: 700px;
    width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto);
}
.contenedor_preguntas div{
    padding: 10px;
    margin: 10px;
}
.contenedor_preguntas div h1{
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}
.contenedor_preguntas div p{
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffffb0;
    letter-spacing: 0.5px;
}


@media(max-width: 700px){
    .preguntas_frecuentes{
        padding: 20px;
    }
    
    .contenedor_preguntas{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto);
        min-width: auto;
    }
}