.medusa{
    width: 500px;
    height: 500px;
    background-image: url("../img/medusa.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1 ;
}


.sec_form{
    width: 100%;
    min-height: auto;

    display: flex;
   
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;

    margin-top: 100px;
    margin-bottom: 150px;


 

}


/* informacion */


.contactos{
    
    
    display: grid;
    width: 500px;
    height: 300px;
    text-align: center;
    padding: 0%;
    
     
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: "title title"
                         "contacto1 contacto2"
                         "contacto3 contacto4";
}
.title_contact{
    grid-column-start: 1;
    grid-column-end: 3;
    
    font-size: 2.2rem;
    font-weight: 100;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 500px;
 
   
}
.contact1{
    grid-column-start: 1;
    grid-column-end: 2;
}
.contact2{
    grid-column-start: 2;
    grid-column-end: 3;
}
.contact3{
    grid-column-start: 1;
    grid-column-end: 2;
  
}
.contact4{
    grid-column-start: 2;
    grid-column-end: 3;
   
}

.ct1 h2{
    font-size: 1.5rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
   margin: 0%;
    font-weight: 100;
}
.ct1 p{
    margin: 0%;
    font-size: .5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
  
    border: 1px red solid;
   

}
/* 
formulario */

.content_form{
   
    display: flex;
    flex-direction: column;
    position: relative;
    backdrop-filter: blur(30px);
    background-size: cover;
    box-shadow: 0px 0px 3px white;
    width: 600px;
    height: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.content_form h1{
   
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    color: white;
    font-weight: 100;
  
}

.inp1{

    width: 550px;
    margin: 5px;
    display: flex;
    gap: 5px;

    
}
.inp1 input{

    height: 40px;
    width: 50%;
    border-radius: 5px;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
}


.inp2{

    width: 550px;
    margin: 5px;
    display: flex;
    gap: 5px;
}
.inp2 input{

    height: 40px;
    width: 50%;
    border-radius: 5px;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
}


.content_form textarea{
    width: 550px;
    height: 100px;
    margin: 5px;
    border-radius: 5px;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
}
.content_form button{
    width: 550px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    border: 0px;
    transition: 1s;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.815);
}
.content_form button:hover{
    
    cursor: pointer;
    box-shadow: 0px 0px 10px white;
}


@media(max-width: 1116px){
    .contactos{
        margin-bottom: 60px;
    }
}